<!DOCTYPE html>
<html lang="en" class="height100">

<head>
    <meta charset="UTF-8">
    <title>LCS 1.4 - Catalog</title>
    <link rel="shortcut icon" href="/static/images/logo/companyIcon.png">
    <!--googleFonts-->
    <link href="https://fonts.googleapis.com/css?family=
          Carter+One|Monoton|Satisfy|Shrikhand|Faster+One|Vast+Shadow|Raleway|Fredericka+the+Great"
        rel="stylesheet">
    <!--hw stile-->
    <link rel="stylesheet" href="/static/styles/style.css">
    <!--fun stile-->
    <link rel="stylesheet" href="/static/styles/styleFun.css">
</head>

<body>

    <header>
        <div class="storeName">
            <p>
                Lovely Cars Store v1.4
            </p>
        </div>

        <img src="/static/images/logo/carsShopLogo2.png" alt="Logo" width="300">


        <nav>
            <ul class="navigation">
                <li><a href="/">Main</a></li>
                <li><a href="products">Catalog</a></li>
                <li><a href="contact">Contacts</a></li>
            </ul>
            <hr>
        </nav>
    </header>



    <main>
        <div>
            <h1 class="currentPage">Catalog</h1>
            <hr>
        </div>

        <div class="catalogProduct">
            <a href="./products/product_1.html">
                <img src="/static/images/products/product_1.jpg" alt="Ford Mustang Shelby GT500 '67" title="Ford Mustang Shelby GT500 '67"
                    width="150">
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="./products/product_1.html">Ford Mustang Shelby GT500 1967 Eleanor</a>
            <br>
        </div>

        <div class="catalogProduct">
            <a href="./products/product_2.html">
                <img src="/static/images/products/product_2.jpg" alt="Ford Mustang Shelby GT500 2008 Super Snake" title="Ford Mustang Shelby GT500 2008 Super Snake"
                    width="150">
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a href="./products/product_2.html">Ford Mustang Shelby GT500 2008 Super Snake</a>
            <br>
        </div>
        <!-- 
    <div class="catalogProductContainer">
        <div class="catalogProductUnit"></div>
        <div class="catalogProductUnit"></div>
        <div class="catalogProductUnit"></div>
        <div class="catalogProductUnit"></div>
        <div class="catalogProductUnit"></div>
    </div> -->
    </main>

    <footer>
        <hr>
        <!--<iframe src="./_footer.html">Footer</iframe>-->
        <a href="https://ru.wikipedia.org/wiki/All_rights_reserved" target="_blank">
            &copy; "All rights reserved"
        </a>
    </footer>

</body>

</html>