<!DOCTYPE html>
<html lang="en"><!--class="height100"-->
<head>
    <meta charset="UTF-8">
    <title>LCS 1.4 - Contacts</title>
    <link rel="shortcut icon" href="./images/logo/companyIcon.png">
    <!--vector icons fontawesome.com-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
          crossorigin="anonymous">
    <!--googleFonts-->
    <link href="https://fonts.googleapis.com/css?family=
          Carter+One|Monoton|Satisfy|Shrikhand|Faster+One|Vast+Shadow|Raleway|Fredericka+the+Great"
          rel="stylesheet">
    <!--hw stile-->
    <link rel="stylesheet" href="./styles/style.css">
    <!--fun stile-->
    <link rel="stylesheet" href="./styles/styleFun.css">
</head>

<body>
    <iframe scrolling="no" id="preview-viewer" height="1530px" style="transform: scale(0.725);"></iframe>
</body>

</html>