{% extends "base_mainapp.html" %}

{% block metaContent %}
<meta content="There are cars that are impossible not to love. They are known to almost everyone, even people far from cars.">
{% endblock %}

{% block content %}

<!--
<form action="" method="post">
    <input type="submit" name="upvote" value="Upvote" />
</form>

<form action="" method="post">
    <button name="LoadExcel" value="upvote">Upvote</button>
</form>-->

<p class="intro">
    There are cars that are impossible not to love. They are known to almost everyone, even people far from
    cars.
</p>
{% endblock %}